@media screen and (max-width: 767px) {
  #addQuizForm{
    margin-top: 150px !important;
  }
}
#addQuizForm{
    margin-top: 60px;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
}